/* html, body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
} */

.hero {
  background: linear-gradient(
    rgba(0, 0, 0, 0.01),
    rgba(0, 0, 0, 0.01)
  ), url("https://raw.githubusercontent.com/epiviz/metaviz-workspaces/main/images/hero.png");
}